@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");

.App {
  font-family: "JetBrains Mono", monospace;
  text-align: center;
}
h3 {
  color: black;
}
h1 {
  color: black;
}
body {
  background-color: #ebd295;
}
